#loan-calculator-widget {

    padding: 15px 0px 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;

    @media (max-width: 700px) {

      font-size: 12px;
      .seperatorRight {
        border-right-width: none;
        border-right-style: none;
      }
    }

    .seperatorRight {
      border-right-width: 1px !important;
      border-right-style: solid;
    }

    .seperatorBottom {
      border-bottom-width: 1px !important;
      border-bottom-style: solid;
    }

    .content-center {
      text-align: center;
    }

    .content-right {
      text-align: right;
    }

    .row {
      margin-bottom: 10px !important;
    }


    ////////////////

    input {
      height: 19px;
      width: 100px;
    }

    input[type=range] {
      width: 100%;
    }

    .input-text-align-left {
      text-align: left;
    }

    .input-text-align-center {
      text-align: center;
    }

    .input-text-align-right {
      text-align: right;
    }

    .input-icon {
      position: relative;
      float: right;
    }

    .input-icon > i {
      position: absolute;
      display: block;
      transform: translate(0, -50%);
      top: 50%;
      pointer-events: none;
      width: 25px;
      text-align: center;
    	font-style: normal;
    }

    .input-icon > input {
      padding-left: 25px;
    	padding-right: 25px;
    }

    .input-icon-right > i {
      right: 0;
    }

    .input-icon-right > input {
      padding-left: 0;
      padding-right: 25px;
      text-align: right;
    }

    ////////////////


    /*
    [class*="col-"] {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #eee;
      background-color: rgba(86,61,124,.15);
      border: 1px solid #ddd;
      border: 1px solid rgba(86,61,124,.2)
    }
    */

    [class*="col-"] {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .col2-top-padding {
      padding-top: 5%;
    }

    .months-div {
      margin-top: -32px !important;
    }
}
